/*----- Material Icons config -----*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(material.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*----- Scroll Bar -----*/


::-webkit-scrollbar-track {
    margin-top: 60px;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}

/*----- -----*/

#grid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
}

body {
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    background-color: #333;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: upgrade, sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 100;
}

#header > .material-icons {
    font-size: 26px;
    margin-right: 20px;
}

#toggle-config {
    position: absolute;
    right: 20px;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

#toggle-config:hover {
    background-color: #333;
}

#config-wrapper {
    position: absolute;
    top: 0;
    right: 80px;
    height: 60px;
    width: 500px;
    font-size: 0.5em;
    font-family: caecilia-sans-head, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#config-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
}

.progress-bar svg {
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#top-panels {
    margin: 80px 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.a-panel {
    flex-grow: 1;
    padding: 20px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    margin: 5px;
    background-image: linear-gradient(to bottom right, #2399ce, #2c67eb);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
}

.forecast {
    border-radius: 15px;
    width: calc(100% - 50px);
    overflow: hidden;
    margin: 5px 25px;
    background-image: linear-gradient(to bottom right, #2399ce, #2c67eb);
}

.panel-title {
    font-size: 0.9em;
    font-family: caecilia-sans-head, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.panel-pre,
.panel-post {
    font-family: caecilia-sans-head, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.panel-main {
    font-family: roboto-mono, monospace;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    font-size: 1.6em;
}

.panel-post {
    right: 20px;
    bottom: 20px;
    text-align: right;
}

#calendario {
    margin: 10px 25px;
    padding: 20px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
}

select {
    color: white;
    background-color: black;
    cursor: pointer;
}

option {
    cursor: pointer;
}

select:first-of-type {
    margin-left: 10px;
}

#pdf {
    background-color: white;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: upgrade, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20pt;
    transition: all 500ms ease;
}

#modal.hidden {
    display: none;
}

#modal-content {
    height: 70%;
    width: 40%;
    background-color: #EEE;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

#alarme {
    opacity: 0;
}

#modal-header {
    font-weight: 500;
    font-size: 36pt;
    margin-top: 20px;
}

#modal-image {
    margin: 20px 0 10px 0;
    height: 50%;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
}

#modal-button {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 60px;
    background-color: forestgreen;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

#modal-text {
    font-size: 2vw;
}

#modal-button:hover {
    background-color: #136d13;
}


@media only screen and (max-width: 1000px) {
    #top-panels {
        flex-wrap: wrap;
        font-size: 0.9em;
    }

    .a-panel {
        max-width: calc(50% - 50px);
    }
}

@media only screen and (max-width: 550px) {
    #top-panels {
        flex-wrap: wrap;
        font-size: 1em;
    }

    .a-panel {
        max-width: 100%;
    }

    .config-text {
        display: none;
    }
}
